@using SFA.DAS.EarlyConnect.Web.Infrastructure
@model SFA.DAS.EarlyConnect.Web.ViewModels.IndustryViewModel
@{
    ViewBag.Vpv = "/personal-details/page-industry";
    ViewBag.Title = "What areas of work interest you?";
}

@section BackLink {
    <a asp-show="(!@Model.IsCheck)" asp-route="@RouteNames.Telephone_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.IsCheck" asp-route="@RouteNames.CheckYourAnswers_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form asp-route="@RouteNames.Industry_Post" asp-route-studentSurveyId="@Model.StudentSurveyId" novalidate>
                @Html.HiddenFor(model => model.IsCheck)
                @Html.HiddenFor(model => model.IsOther)
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-heading-l">What areas of work interest you? (optional)</h1>
                        </legend>
                        @{int serialCounter = 1;}
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            @foreach (var area in Model.AreasOfInterest.AreasOfInterest)
                            {
                                <h2 class="govuk-heading-m">@area.Area</h2>

                                foreach(var industry in @area.Industry)
                                {
                                    <div class="govuk-checkboxes__item govuk-!-padding-bottom-5">
                                        <input class="govuk-checkboxes__input" id="sector-@serialCounter" name="sector" type="checkbox"
                                               value="@industry.Title" @(Model.Areas.Contains(industry.Title) ? "checked" : "") />
                                        <label class="govuk-label govuk-checkboxes__label" for="sector-@serialCounter">
                                            @industry.Title
                                        </label>
                                        <div id="agriculture-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                            @industry.Roles
                                        </div>
                                    </div>

                                    serialCounter++;
                                }
                            }
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

            </form>
        </div>
    </div>


</main>