@using SFA.DAS.EarlyConnect.Web.Infrastructure
@using SFA.DAS.EarlyConnect.Web.ViewModels
@using SFA.DAS.EarlyConnect.Web.Views
@model SFA.DAS.EarlyConnect.Web.ViewModels.NameViewModel
@{
    ViewBag.Title = "What's your name?";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />

            <form asp-route="@RouteNames.Name_Post" asp-route-studentSurveyId="@Model.StudentSurveyId" novalidate>
                @Html.HiddenFor(model => model.IsCheck)
                @Html.HiddenFor(model => model.IsOther)
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="telephone">
                        What's your name?
                    </label>
                </h1>
                <div esfa-validation-marker-for="FirstName" class="govuk-form-group">
                    <label class="govuk-label" for="confirmation-code">
                        First name
                    </label>
                    <span style=" margin:0" esfa-validation-message-for="FirstName" class="govuk-error-message"></span>
                    <input asp-for="FirstName" class="govuk-input govuk-!-width-one-half" type="text" spellcheck="false" autocomplete="given-name"> 
                </div>

                <div esfa-validation-marker-for="LastName" class="govuk-form-group">
                    <label class="govuk-label" for="confirmation-code">
                        Last name
                    </label>
                    <span style=" margin:0" esfa-validation-message-for="LastName" class="govuk-error-message"></span>
                    <input asp-for="LastName" class="govuk-input govuk-!-width-one-half" type="text" spellcheck="false" autocomplete="family-name">
                </div>

                <button type="submit" class="govuk-button" esfa-automation="continue-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>