@using SFA.DAS.EarlyConnect.Web.Infrastructure
@using SFA.DAS.EarlyConnect.Web.ViewModels
@using SFA.DAS.EarlyConnect.Web.Views
@model SFA.DAS.EarlyConnect.Web.ViewModels.NameViewModel
@{
    ViewBag.Title = "What's your name?";
}

@section BackLink {
    <a asp-show="!@Model.IsCheck" asp-route="@RouteNames.Authenticate_Get" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.IsCheck" asp-route="@RouteNames.CheckYourAnswers_Get" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />

            <form asp-route="@RouteNames.Name_Post">
                @Html.HiddenFor(model => model.StudentSurveyId);
                @Html.HiddenFor(model => model.IsCheck);

                <h1 class="govuk-heading-xl">What's your name?</h1>

                <div esfa-validation-marker-for="FirstName" class="govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="confirmation-code">
                            First name
                        </label>
                        <span esfa-validation-message-for="FirstName" class="govuk-error-message"></span>
                        <input asp-for="FirstName" class="govuk-input govuk-input--width-25" type="text">
                    </div>
                </div>

                <div esfa-validation-marker-for="LastName" class="govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="confirmation-code">
                            Last name
                        </label>
                        <span esfa-validation-message-for="LastName" class="govuk-error-message"></span>
                        <input asp-for="LastName" class="govuk-input govuk-input--width-25" type="text">
                    </div>
                </div>

                <button type="submit" class="govuk-button govuk-button--start" esfa-automation="continue-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>