@using SFA.DAS.EarlyConnect.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.EarlyConnect.Application.TagHelpers
@using SFA.DAS.EarlyConnect.Web.ViewModels
@using SFA.DAS.EarlyConnect.Web.Views
@model SFA.DAS.EarlyConnect.Web.ViewModels.SchoolNameEditViewModel
@{
    ViewBag.Vpv = "/personal-details/page-school-name";
    ViewBag.Title = "What is the name of your school or college?";
}

@section BackLink
{
    <a asp-route="@Model.BacklinkRoute" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />
            <form asp-route="@RouteNames.SchoolName_Post" asp-route-studentSurveyId="@Model.StudentSurveyId" novalidate>
                @Html.HiddenFor(model => model.IsCheck)
                @Html.HiddenFor(model => model.IsOther)
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="SchoolName">
                            What is the name of your school or college?
                        </label>
                    </h1>
                    <div esfa-validation-marker-for="SchoolName" class="govuk-form-group">
                        <span esfa-validation-message-for="SchoolName" class="govuk-error-message"></span>
                        <input asp-for="SchoolName" id="schoolname" name="schoolname" class="govuk-input govuk-input--width-20" type="text">
                    </div>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button" esfa-automation="continue-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>