@using SFA.DAS.EarlyConnect.Web.Infrastructure
@using SFA.DAS.EarlyConnect.Web.ViewModels
@using SFA.DAS.EarlyConnect.Web.Views
@model SFA.DAS.EarlyConnect.Web.ViewModels.EmailAddressViewModel
@{
    ViewBag.Title = "What is your email address?";
}

@section BackLink 
{
    <a asp-route="@RouteNames.ServiceStartDefault" asp-route-lepscode="@Model.LepsCode" esfa-automation="link-back" class="govuk-back-link">Back</a>
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
            
            <form asp-route="@RouteNames.Email_Post">
                @Html.HiddenFor(model => model.LepsCode)
                
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="Email">
                        What is your email address?
                    </label>
                </h1>

                <div esfa-validation-marker-for="Email" class="govuk-form-group-compound govuk-form-group">
                    <span esfa-validation-message-for="Email" class="govuk-error-message"></span>
                    <input asp-for="Email" class="govuk-input govuk-input--width-20" id="email" name="email" type="email" spellcheck="false" autocomplete="email" />
                </div>

                <p class="govuk-body">
                    To confirm it is your email address we will send you a code.
                </p>

                <button type="submit" class="govuk-button" esfa-automation="continue-button">
                    Continue
                </button>

            </form>
        </div>
    </div>
</main>